body{
	background-color: black;
}

.center{
	text-align: center;
}

.dl-link {
	color: Aquamarine;
	font-size: 16px;
	text-decoration:underline;
	
}

.main-head{
	color:white;
	font-family: Verdana;
	font-size: 50px;
}

p{
	
}